<form [formGroup]='registerForm' *ngIf="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <app-text-input [formControl]="registerForm.controls['username']" label="Username" type="text"></app-text-input>
  <app-text-input [formControl]="registerForm.controls['password']" label="Password" type="password"></app-text-input>
  <app-text-input [formControl]="registerForm.controls['confirmPassword']" label="Confirm Password" type="password"></app-text-input>

  <div class="form-group text-center mt-2">
    <button class="btn btn-primary-success mr-2" type="submit">Register</button>
    <button class="btn btn-primary-default mr-2" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
{{registerForm}}
<p>Form value: {{registerForm.status | json}}</p>
<p>Form value: {{registerForm.value| json}}</p>
